<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sulbert.company.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.sulbert.company.entity.Company">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
        <result column="version" jdbcType="VARCHAR" property="version" />
        <result column="renewal_date" jdbcType="TIMESTAMP" property="renewalDate" />
        <result column="expiration_date" jdbcType="TIMESTAMP" property="expirationDate" />
        <result column="company_area" jdbcType="VARCHAR" property="companyArea" />
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
        <result column="business_license_id" jdbcType="VARCHAR" property="businessLicenseId" />
        <result column="legal_representative" jdbcType="VARCHAR" property="legalRepresentative" />
        <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
        <result column="mailbox" jdbcType="VARCHAR" property="mailbox" />
        <result column="company_size" jdbcType="VARCHAR" property="companySize" />
        <result column="industry" jdbcType="VARCHAR" property="industry" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="audit_state" jdbcType="VARCHAR" property="auditState" />
        <result column="state" jdbcType="BIT" property="state" />
        <result column="balance" jdbcType="DOUBLE" property="balance" />
    </resultMap>
    <insert id="insert" parameterType="com.sulbert.company.entity.Company">
        insert into company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="managerId != null">
                manager_id,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="renewalDate != null">
                renewal_date,
            </if>
            <if test="expirationDate != null">
                expiration_date,
            </if>
            <if test="companyArea != null">
                company_area,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="businessLicenseId != null">
                business_license_id,
            </if>
            <if test="legalRepresentative != null">
                legal_representative,
            </if>
            <if test="companyPhone != null">
                company_phone,
            </if>
            <if test="mailbox != null">
                mailbox,
            </if>
            <if test="companySize != null">
                company_size,
            </if>
            <if test="industry != null">
                industry,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="auditState != null">
                audit_state,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="balance != null">
                balance,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="managerId != null">
                #{managerId,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="renewalDate != null">
                #{renewalDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expirationDate != null">
                #{expirationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="companyArea != null">
                #{companyArea,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseId != null">
                #{businessLicenseId,jdbcType=VARCHAR},
            </if>
            <if test="legalRepresentative != null">
                #{legalRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null">
                #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="mailbox != null">
                #{mailbox,jdbcType=VARCHAR},
            </if>
            <if test="companySize != null">
                #{companySize,jdbcType=VARCHAR},
            </if>
            <if test="industry != null">
                #{industry,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="auditState != null">
                #{auditState,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=BIT},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="delete" parameterType="java.lang.String">
        update company set deleted = true where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateById" parameterType="com.sulbert.company.entity.Company">
        update company
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="renewalDate != null">
                renewal_date = #{renewalDate},
            </if>
            <if test="expirationDate != null">
                expiration_date = #{expirationDate},
            </if>
            <if test="companyArea != null">
                company_area = #{companyArea},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress},
            </if>
            <if test="businessLicenseId != null">
                business_license_id = #{businessLicenseId},
            </if>
            <if test="legalRepresentative != null">
                legal_representative = #{legalRepresentative},
            </if>
            <if test="companyPhone != null">
                company_phone = #{companyPhone},
            </if>
            <if test="mailbox != null">
                mailbox = #{mailbox},
            </if>
            <if test="companySize != null">
                company_size = #{companySize},
            </if>
            <if test="industry != null">
                industry = #{industry},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="auditState != null">
                auditState = #{auditState},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from company where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>